In [1]:
from emptyheaded import *

In [2]:
start()

In [3]:
c = Config(num_threads=1)
print c

(system: emptyheaded, num_threads: 1,
		num_sockets: 4, layout: hybrid, memory: RAM)

In [4]:
df_A = pd.DataFrame(
    np.array([[0, 0, 1.0],
              [0, 1, 2.0], 
              [1, 0, 3.0], 
              [1, 1, 4.0]]),
    columns=["0", "1", "a_val"],
    dtype=np.int32
)
df_A['a_val'] = df_A['a_val'].astype(np.float32)
df_A

   0  1  a_val
0  0  0      1
1  0  1      2
2  1  0      3
3  1  1      4

In [5]:
df_B = pd.DataFrame(
    np.array([[0, 100.0],
              [1, 200.0]]),
    columns=["0", "a_val"],
    dtype=np.int32
)
df_B['a_val'] = df_B['a_val'].astype(np.float32)
df_B

   0  a_val
0  0    100
1  1    200

In [6]:
eh = os.path.expandvars("$EMPTYHEADED_HOME")
A = Relation(
  name="A",
  dataframe=df_A)
B = Relation(
  name="B",
  dataframe=df_B)

db = Database.create(
  c,
  eh+"/docs/notebooks/test_db",
  [A,B])
db.build()

cd /Users/andrewlamb/EmptyHeaded/storage_engine/build && cmake -DNUM_THREADS=1 .. && make && cd - > /dev/null

In [7]:
db.eval("O(x;w) :- A(x,y),B(x),w:float<-[SUM(y)].")

In [8]:
res = db.get("O")

Without the change in `TrieBuilder.hpp:90`, the annotations would be 2 and 4 (instead of 3 and 7).

In [9]:
res.getDF()

   0  1
0  0  3
1  1  7